{% extends 'layout.html' %}

{% block content %}
{{ super() }}
<form action="" method="post">
   {{ book.hidden_tag() }}
   <p>{{ book.title.lable() }} {{ book.title() }}</p>
   <p>{{ book.price.lable() }} {{ book.price() }}</p>
   <p>{{ book.lang.lable() }} {{ book.lang() }}</p>
   <p>{{ book.gen.lable() }} {{ book.gen() }}</p>
   <p>{{ book.auth.lable() }} {{ book.auth() }}</p>
   <p>{{ book.pub.lable() }} {{ book.pub() }}</p>
   <p>{{ book.stock.lable() }} {{ book.stock() }}</p>
   <p>{{ book.disc.lable() }} {{ book.disc() }}</p>
   <p>{{ book.quant.lable() }} {{ book.quant() }}</p>
   <p>{{ book.submit() }}</p>
</form>
{% endblock index %}
