<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
</head>
<body>
   {% block mainmenu %}
   <ul>
      {% for m in menu %}
      <li><a href="{{url_for('index')}}">Main</a></li>
      <li><a href="{{url_for('product')}}">Books</a></li>
      {% endfor%}
   </ul>
   {% endblock mainmenu %}
   {% block content %}
   {% endblock content %}
   
</body>
</html>
