{% block content %}
{{ super() }}
<form action="/login" method="post">
   {{ form.hidden_tag() }}
   <p>{{ form.email.lable() }} {{ form.email() }}</p>
   {% if form.email.error %}
      <ul>{% for error in form.email.error %}
         <li>{{ error }}</li>
         {% endfor %}
      </ul>
      {% endif %}
   <p>{{ form.password.lable() }} {{ form.password() }}</p>
   <p>{{ form.remember.lable() }} {{form.remember() }}</p>
   <p>{{form.submit() }}</p>
   <p><a href="{{ url_for('registr')}}">Registration</a></p>
</form>
{% endblock content %}
