{% extends 'layout.html' %}

{% block product %}
{{ super() }}
<ul>
   {% for b in book %}
   <li><p>{{ b.image }}</p></li>
   <li><p>{{ b.title }}</p></li>
   <li><p>{{ b.r1.author }}</p></li>
   <li><p>{{ b.r2.language }}</p></li>
   <li><p>{{ b.r3.genre }}</p></li>
   <li><p>{{ b.r4.publisher }}</p></li>
   <li><p>{{ b.price }}</p></li>
   <li><p>{{ b.quantity }}</p></li>
   {% endfor %}

</ul>
{% endblock product %}
