{% block content %}
{{ super() }}
<form action="/login" method="post">
   {{ book.hidden_tag() }}
   <p>{{ reg.name.lable() }} {{ reg.name() }}</p>
   <p>{{ reg.email.lable() }} {{ reg.email() }}</p>
   <p>{{ reg.psw.lable() }} {{ reg.psw() }}</p>
   <p>{{ reg.pswagain.lable() }} {{ reg.pswagain() }}</p>
   <p>{{ reg.submit() }}</p>
</form>
{% endblock content %}
